In [2]:
import pandas as pd

In [63]:
from Scripts.util import (
    replace_slash,
    clean_analysis_sheet
)

In [64]:
df = pd.read_excel('../inputs/YEM2203_HH_SBA_-_all_versions_-_False_-_2023-03-23-05-31-45.xlsx')
tool = pd.read_excel('../inputs/YEM2203_HH_survey_tool_SBA_01252023.xlsx')
df.columns = [replace_slash(col) for col in df.columns]

In [65]:
df

,start,end,today,deviceid,imei,audit,audit_URL,A1_interview_date,A2_enumerator_id,A3_governorate,...,_id,_uuid,_submission_time,_validation_status,_notes,_status,_submitted_by,__version__,_tags,_index
0,2023-03-15 16:27:20.498,2023-03-15 17:22:45.213,2023-03-15,collect:keYzjicWXARRflyk,collect:keYzjicWXARRflyk,audit.csv,https://kc.humanitarianresponse.info/media/ori...,2023-03-15,YEM14,Lahj,...,404829934,cb67906e-2282-404f-a427-e42c1a7f298e,2023-03-15 14:31:37,NaN,NaN,submitted_via_web,yemen_part,v4BgNNA6KxTJFj8iCxGbgK,NaN,1
1,2023-03-15 11:59:25.935,2023-03-15 12:21:10.798,2023-03-15,collect:muHPxfpn0pPXCjhp,collect:muHPxfpn0pPXCjhp,audit.csv,https://kc.humanitarianresponse.info/media/ori...,2023-03-15,YEM05,Lahj,...,404832171,b47abd84-f3d0-4d50-9979-c480cd264502,2023-03-15 14:35:20,NaN,NaN,submitted_via_web,yemen_part,v72PYMXw9qPiUNXmVFdpru,NaN,2
2,2023-03-15 16:26:11.317,2023-03-15 17:42:14.595,2023-03-15,collect:muHPxfpn0pPXCjhp,collect:muHPxfpn0pPXCjhp,audit.csv,https://kc.humanitarianresponse.info/media/ori...,2023-03-15,YEM16,Lahj,...,404835585,032ca6bb-03da-4acc-8f5b-94da695211fe,2023-03-15 14:42:28,NaN,NaN,submitted_via_web,yemen_part,v4BgNNA6KxTJFj8iCxGbgK,NaN,3
3,2023-03-15 17:35:58.243,2023-03-15 18:27:23.575,2023-03-15,collect:keYzjicWXARRflyk,collect:keYzjicWXARRflyk,audit.csv,https://kc.humanitarianresponse.info/media/ori...,2023-03-15,YEM14,Lahj,...,404871612,d20c5bd1-6c61-4aae-b84a-114f173b7022,2023-03-15 15:57:53,NaN,NaN,submitted_via_web,yemen_part,v4BgNNA6KxTJFj8iCxGbgK,NaN,4
4,2023-03-15 12:19:38.177,2023-03-15 17:33:11.230,2023-03-15,collect:SOVgofSMqlCwQUJM,collect:SOVgofSMqlCwQUJM,audit.csv,https://kc.humanitarianresponse.info/media/ori...,2023-03-15,YEM15,Lahj,...,404886172,a342ecc8-75e2-4f02-a853-9b7186b7bb84,2023-03-15 16:29:19,NaN,NaN,submitted_via_web,yemen_part,v72PYMXw9qPiUNXmVFdpru,NaN,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,2023-03-22 09:25:22.304,2023-03-22 09:41:31.878,2023-03-22,collect:aMCVAuDFtJG5sEIZ,collect:aMCVAuDFtJG5sEIZ,audit.csv,https://kc.humanitarianresponse.info/media/ori...,2023-03-22,YEM08,Lahj,...,407422558,ca3714da-535a-4f2f-b1c2-e5dba354505d,2023-03-22 13:41:19,NaN,NaN,submitted_via_web,yemen_part,vDEuq4YmJQwqEuTEFDnoBw,NaN,362
362,2023-03-22 09:41:52.043,2023-03-22 10:15:04.523,2023-03-22,collect:aMCVAuDFtJG5sEIZ,collect:aMCVAuDFtJG5sEIZ,audit.csv,https://kc.humanitarianresponse.info/media/ori...,2023-03-22,YEM08,Lahj,...,407422594,8dd6e844-f767-442a-a279-d70c42ce35e9,2023-03-22 13:41:22,NaN,NaN,submitted_via_web,yemen_part,vDEuq4YmJQwqEuTEFDnoBw,NaN,363
363,2023-03-22 09:04:28.785,2023-03-22 18:38:06.738,2023-03-22,A1000061F45A40,A1000061F45A40,audit.csv,https://kc.humanitarianresponse.info/media/ori...,2023-03-22,YEM02,Lahj,...,407489361,798880aa-fb8e-4d79-a4b3-302644732dfc,2023-03-22 15:45:08,NaN,NaN,submitted_via_web,yemen_part,vDEuq4YmJQwqEuTEFDnoBw,NaN,364
364,2023-03-22 09:20:00.142,2023-03-22 18:38:19.182,2023-03-22,A1000061F45A40,A1000061F45A40,audit.csv,https://kc.humanitarianresponse.info/media/ori...,2023-03-22,YEM02,Lahj,...,407489391,ca91857d-c3f3-46d7-81bd-64e145c19723,2023-03-22 15:45:10,NaN,NaN,submitted_via_web,yemen_part,vDEuq4YmJQwqEuTEFDnoBw,NaN,365
365,2023-03-22 09:32:32.293,2023-03-22 18:38:12.599,2023-03-22,A1000061F45A40,A1000061F45A40,audit.csv,https://kc.humanitarianresponse.info/media/ori...,2023-03-22,YEM02,Lahj,...,407489426,08f39168-b7b0-40f5-872c-2cc9f03850cc,2023-03-22 15:45:14,NaN,NaN,submitted_via_web,yemen_part,vDEuq4YmJQwqEuTEFDnoBw,NaN,366

In [63]:
df['C1_main_water_source'].value_counts(normalize=True)

Water_trucking                                                       0.421918
Rainwater_collection                                                 0.386301
Tanker_truck                                                         0.060274
Piped_into_dwelling                                                  0.043836
Protected_well_                                                      0.032877
Surface_water_river_dam_lake_pond_stream_canal_irrigation_channel    0.030137
Cart_with_small_tank_drum                                            0.010959
Water_kiosk                                                          0.010959
Protected_spring                                                     0.002740
Name: C1_main_water_source, dtype: float64

In [ ]:
grouped = df.groupby(['A5_characteristic', 'C1_main_water_source']).size().unstack(fill_value=0)
grouped

In [68]:
# #data = {
#     'Question1': ['yes', 'no', 'yes', 'don’t know', 'yes', 'no', 'don’t know'],
#     "Area": ['Area1', "Area2", "Area1", "Area2", "Area1", "Area1", "Area2"]
# }
#df = pd.DataFrame(data)

def compute_count_percent(df, column_name):
    # Get the value counts
    counts = df[column_name].value_counts()

    # Calculate the total number of responses
    total = len(df[column_name])

    # Calculate the percentage for each unique value
    percentages = (counts / total) * 100

    # Create the columns
    output = pd.DataFrame()

    # Add one empty column
    output[''] = ['']


    for answer in counts.index:
        output[answer + ' count'] = [counts[answer]]
        output[answer + ' %'] = [percentages[answer]]

    # Add the 'Total' columns
    output['Total count'] = [total]
    output['Total %'] = [100]

    # Rename the index value to 'Total'
    output.index = ['Total']

    return output

total = compute_count_percent(df,"C1_main_water_source")
total

,,Water_trucking count,Water_trucking %,Rainwater_collection count,Rainwater_collection %,Tanker_truck count,Tanker_truck %,Piped_into_dwelling count,Piped_into_dwelling %,Protected_well_ count,...,Surface_water_river_dam_lake_pond_stream_canal_irrigation_channel count,Surface_water_river_dam_lake_pond_stream_canal_irrigation_channel %,Cart_with_small_tank_drum count,Cart_with_small_tank_drum %,Water_kiosk count,Water_kiosk %,Protected_spring count,Protected_spring %,Total count,Total %
Total,,154,42.076503,141,38.52459,22,6.010929,16,4.371585,12,...,11,3.005464,4,1.092896,4,1.092896,1,0.273224,366,100

In [14]:
df.groupby('Area').value_counts()

Area   Question1
Area1  yes           3
       no            1
Area2  don’t know    2
       no            1
dtype: int64

In [18]:
df

    Question1   Area
0         yes  Area1
1          no  Area2
2         yes  Area1
3  don’t know  Area2
4         yes  Area1
5          no  Area1
6  don’t know  Area2

2

C:\Users\Reach\AppData\Local\Temp\ipykernel_20684\1087562769.py:41: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output = output.append(temp_df)
C:\Users\Reach\AppData\Local\Temp\ipykernel_20684\1087562769.py:41: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output = output.append(temp_df)

,,yes count,yes %,no count,no %,don’t know count,don’t know %,Total count,Total %
Total,,3.0,42.857143,2,28.571429,2.0,28.571429,7,100
Area1,Area,3.0,75.000000,1,25.000000,0.0,0.000000,4,100
Area2,Area,0.0,0.000000,1,33.333333,2.0,66.666667,3,100

In [71]:
# import pandas as pd
#
# data = {
#     'Question1': ['yes', 'no', 'yes', 'don’t know', 'yes', 'no', 'don’t know'],
#     "Area": ['Area1', "Area2", "Area1", "Area2", "Area1", "Area1", "Area2"]
# }
# df = pd.DataFrame(data)

def compute_count_percent_by_area(df, column_name, groupby_column):
    grouped = df.groupby(groupby_column)

    # Initialize an empty DataFrame for the final output
    output = pd.DataFrame()

    for name, group in grouped:
        # Get the value counts for the group
        counts = group[column_name].value_counts()

        # Calculate the total number of responses for the group
        total = len(group[column_name])

        # Calculate the percentage for each unique value in the group
        percentages = (counts / total) * 100

        # Create a temporary DataFrame for the group
        temp_df = pd.DataFrame()

        # Insert the groupby_column value as the first column
        temp_df[""] = [name]

        for answer in counts.index:
            temp_df[answer + ' count'] = [counts[answer]]
            temp_df[answer + ' %'] = [percentages[answer]]

        # Add the 'Total' columns for the group
        temp_df['Total count'] = [total]
        temp_df['Total %'] = [100]

        # Set the index value to the string groupby_column
        temp_df.index = [groupby_column]

        # Append the temporary DataFrame to the final output
        output = output.append(temp_df)

    # Reorder the columns to move 'Total count' and 'Total %' to the end
    cols = [col for col in output if col not in ['Total count', 'Total %']] + ['Total count', 'Total %']

    output = output[cols]
    output = output.fillna(0)

    return output

df_output = compute_count_percent_by_area(df, 'C1_main_water_source', 'A5_characteristic')
df_output

C:\Users\Reach\AppData\Local\Temp\ipykernel_20684\1494645710.py:43: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output = output.append(temp_df)
C:\Users\Reach\AppData\Local\Temp\ipykernel_20684\1494645710.py:43: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output = output.append(temp_df)

,,Rainwater_collection count,Rainwater_collection %,Protected_well_ count,Protected_well_ %,Surface_water_river_dam_lake_pond_stream_canal_irrigation_channel count,Surface_water_river_dam_lake_pond_stream_canal_irrigation_channel %,Water_trucking count,Water_trucking %,Tanker_truck count,...,Piped_into_dwelling count,Piped_into_dwelling %,Cart_with_small_tank_drum count,Cart_with_small_tank_drum %,Water_kiosk count,Water_kiosk %,Protected_spring count,Protected_spring %,Total count,Total %
A5_characteristic,Rural_Al_Jiblah,140,85.365854,12.0,7.317073,9,5.487805,3,1.829268,0.0,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.00000,164,100
A5_characteristic,Urban_Al_Habelien,1,0.495050,0.0,0.000000,2,0.990099,151,74.752475,22.0,...,16.0,7.920792,4.0,1.980198,4.0,1.980198,1.0,0.49505,202,100

In [61]:

total = compute_count_percent(df, "Question1")
df_output = compute_count_percent_by_area(df, 'Question1', 'Area')

# Concatenate the outputs
final_output = pd.concat([total, df_output])

final_output

C:\Users\Reach\AppData\Local\Temp\ipykernel_20684\2635096897.py:43: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output = output.append(temp_df)
C:\Users\Reach\AppData\Local\Temp\ipykernel_20684\2635096897.py:43: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output = output.append(temp_df)

,,yes count,yes %,no count,no %,don’t know count,don’t know %,Total count,Total %
Total,,3.0,42.857143,2,28.571429,2.0,28.571429,7,100
Area,Area1,3.0,75.000000,1,25.000000,0.0,0.000000,4,100
Area,Area2,0.0,0.000000,1,33.333333,2.0,66.666667,3,100