In [3]:
import pandas as pd

In [4]:
from Scripts.util import (
    replace_slash,
    clean_analysis_sheet
)

In [5]:
df = pd.read_excel('../inputs/YEM2203_HH_SBA_-_all_versions_-_False_-_2023-03-23-05-31-45.xlsx')
tool = pd.read_excel('../inputs/YEM2203_HH_survey_tool_SBA_01252023.xlsx')
df.columns = [replace_slash(col) for col in df.columns]

In [6]:
df

,start,end,today,deviceid,imei,audit,audit_URL,A1_interview_date,A2_enumerator_id,A3_governorate,...,_id,_uuid,_submission_time,_validation_status,_notes,_status,_submitted_by,__version__,_tags,_index
0,2023-03-15 16:27:20.498,2023-03-15 17:22:45.213,2023-03-15,collect:keYzjicWXARRflyk,collect:keYzjicWXARRflyk,audit.csv,https://kc.humanitarianresponse.info/media/ori...,2023-03-15,YEM14,Lahj,...,404829934,cb67906e-2282-404f-a427-e42c1a7f298e,2023-03-15 14:31:37,NaN,NaN,submitted_via_web,yemen_part,v4BgNNA6KxTJFj8iCxGbgK,NaN,1
1,2023-03-15 11:59:25.935,2023-03-15 12:21:10.798,2023-03-15,collect:muHPxfpn0pPXCjhp,collect:muHPxfpn0pPXCjhp,audit.csv,https://kc.humanitarianresponse.info/media/ori...,2023-03-15,YEM05,Lahj,...,404832171,b47abd84-f3d0-4d50-9979-c480cd264502,2023-03-15 14:35:20,NaN,NaN,submitted_via_web,yemen_part,v72PYMXw9qPiUNXmVFdpru,NaN,2
2,2023-03-15 16:26:11.317,2023-03-15 17:42:14.595,2023-03-15,collect:muHPxfpn0pPXCjhp,collect:muHPxfpn0pPXCjhp,audit.csv,https://kc.humanitarianresponse.info/media/ori...,2023-03-15,YEM16,Lahj,...,404835585,032ca6bb-03da-4acc-8f5b-94da695211fe,2023-03-15 14:42:28,NaN,NaN,submitted_via_web,yemen_part,v4BgNNA6KxTJFj8iCxGbgK,NaN,3
3,2023-03-15 17:35:58.243,2023-03-15 18:27:23.575,2023-03-15,collect:keYzjicWXARRflyk,collect:keYzjicWXARRflyk,audit.csv,https://kc.humanitarianresponse.info/media/ori...,2023-03-15,YEM14,Lahj,...,404871612,d20c5bd1-6c61-4aae-b84a-114f173b7022,2023-03-15 15:57:53,NaN,NaN,submitted_via_web,yemen_part,v4BgNNA6KxTJFj8iCxGbgK,NaN,4
4,2023-03-15 12:19:38.177,2023-03-15 17:33:11.230,2023-03-15,collect:SOVgofSMqlCwQUJM,collect:SOVgofSMqlCwQUJM,audit.csv,https://kc.humanitarianresponse.info/media/ori...,2023-03-15,YEM15,Lahj,...,404886172,a342ecc8-75e2-4f02-a853-9b7186b7bb84,2023-03-15 16:29:19,NaN,NaN,submitted_via_web,yemen_part,v72PYMXw9qPiUNXmVFdpru,NaN,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,2023-03-22 09:25:22.304,2023-03-22 09:41:31.878,2023-03-22,collect:aMCVAuDFtJG5sEIZ,collect:aMCVAuDFtJG5sEIZ,audit.csv,https://kc.humanitarianresponse.info/media/ori...,2023-03-22,YEM08,Lahj,...,407422558,ca3714da-535a-4f2f-b1c2-e5dba354505d,2023-03-22 13:41:19,NaN,NaN,submitted_via_web,yemen_part,vDEuq4YmJQwqEuTEFDnoBw,NaN,362
362,2023-03-22 09:41:52.043,2023-03-22 10:15:04.523,2023-03-22,collect:aMCVAuDFtJG5sEIZ,collect:aMCVAuDFtJG5sEIZ,audit.csv,https://kc.humanitarianresponse.info/media/ori...,2023-03-22,YEM08,Lahj,...,407422594,8dd6e844-f767-442a-a279-d70c42ce35e9,2023-03-22 13:41:22,NaN,NaN,submitted_via_web,yemen_part,vDEuq4YmJQwqEuTEFDnoBw,NaN,363
363,2023-03-22 09:04:28.785,2023-03-22 18:38:06.738,2023-03-22,A1000061F45A40,A1000061F45A40,audit.csv,https://kc.humanitarianresponse.info/media/ori...,2023-03-22,YEM02,Lahj,...,407489361,798880aa-fb8e-4d79-a4b3-302644732dfc,2023-03-22 15:45:08,NaN,NaN,submitted_via_web,yemen_part,vDEuq4YmJQwqEuTEFDnoBw,NaN,364
364,2023-03-22 09:20:00.142,2023-03-22 18:38:19.182,2023-03-22,A1000061F45A40,A1000061F45A40,audit.csv,https://kc.humanitarianresponse.info/media/ori...,2023-03-22,YEM02,Lahj,...,407489391,ca91857d-c3f3-46d7-81bd-64e145c19723,2023-03-22 15:45:10,NaN,NaN,submitted_via_web,yemen_part,vDEuq4YmJQwqEuTEFDnoBw,NaN,365
365,2023-03-22 09:32:32.293,2023-03-22 18:38:12.599,2023-03-22,A1000061F45A40,A1000061F45A40,audit.csv,https://kc.humanitarianresponse.info/media/ori...,2023-03-22,YEM02,Lahj,...,407489426,08f39168-b7b0-40f5-872c-2cc9f03850cc,2023-03-22 15:45:14,NaN,NaN,submitted_via_web,yemen_part,vDEuq4YmJQwqEuTEFDnoBw,NaN,366

In [6]:
df['C1_main_water_source'].value_counts(normalize=True)

Water_trucking                                                       0.421918
Rainwater_collection                                                 0.386301
Tanker_truck                                                         0.060274
Piped_into_dwelling                                                  0.043836
Protected_well_                                                      0.032877
Surface_water_river_dam_lake_pond_stream_canal_irrigation_channel    0.030137
Cart_with_small_tank_drum                                            0.010959
Water_kiosk                                                          0.010959
Protected_spring                                                     0.002740
Name: C1_main_water_source, dtype: float64

In [7]:
grouped = df.groupby(['A5_characteristic', 'C1_main_water_source']).size().unstack(fill_value=0)
grouped

C1_main_water_source,Cart_with_small_tank_drum,Piped_into_dwelling,Protected_spring,Protected_well_,Rainwater_collection,Surface_water_river_dam_lake_pond_stream_canal_irrigation_channel,Tanker_truck,Water_kiosk,Water_trucking
A5_characteristic,,,,,,,,,
Rural_Al_Jiblah,0,0,0,12,140,9,0,0,3
Urban_Al_Habelien,4,16,1,0,1,2,22,4,151

In [10]:
# #data = {
#     'Question1': ['yes', 'no', 'yes', 'don’t know', 'yes', 'no', 'don’t know'],
#     "Area": ['Area1', "Area2", "Area1", "Area2", "Area1", "Area1", "Area2"]
# }
#df = pd.DataFrame(data)

def compute_count_percent(df, column_name):
    # Get the value counts
    counts = df[column_name].value_counts()

    # Calculate the total number of responses
    total = len(df[column_name])

    # Calculate the percentage for each unique value
    percentages = (counts / total) * 100

    # Create the columns
    output = pd.DataFrame()

    # Add one empty column
    output[''] = ['']


    for answer in counts.index:
        output[answer + ' count'] = [counts[answer]]
        output[answer + ' %'] = [percentages[answer]]

    # Add the 'Total' columns
    output['Total count'] = [total]
    output['Total %'] = [100]

    # Rename the index value to 'Total'
    output.index = ['Total']

    return output

total = compute_count_percent(df,"C1_main_water_source")
total

,,Water_trucking count,Water_trucking %,Rainwater_collection count,Rainwater_collection %,Tanker_truck count,Tanker_truck %,Piped_into_dwelling count,Piped_into_dwelling %,Protected_well_ count,...,Surface_water_river_dam_lake_pond_stream_canal_irrigation_channel count,Surface_water_river_dam_lake_pond_stream_canal_irrigation_channel %,Cart_with_small_tank_drum count,Cart_with_small_tank_drum %,Water_kiosk count,Water_kiosk %,Protected_spring count,Protected_spring %,Total count,Total %
Total,,154,42.076503,141,38.52459,22,6.010929,16,4.371585,12,...,11,3.005464,4,1.092896,4,1.092896,1,0.273224,366,100

In [ ]:
df

In [ ]:
# # import pandas as pd
# #
# # data = {
# #     'Question1': ['yes', 'no', 'yes', 'don’t know', 'yes', 'no', 'don’t know'],
# #     "Area": ['Area1', "Area2", "Area1", "Area2", "Area1", "Area1", "Area2"]
# # }
# # df = pd.DataFrame(data)
#
# def compute_count_percent_with_grouping(dfpd.DataFrame, column_name:str, groupby_column:list):
#     grouped = df.groupby(groupby_column)
#
#     # Initialize an empty DataFrame for the final output
#     output = pd.DataFrame()
#
#     for name, group in grouped:
#         # Get the value counts for the group
#         counts = group[column_name].value_counts()
#
#         # Calculate the total number of responses for the group
#         total = len(group[column_name])
#
#         # Calculate the percentage for each unique value in the group
#         percentages = (counts / total) * 100
#
#         # Create a temporary DataFrame for the group
#         temp_df = pd.DataFrame()
#
#         # Insert the groupby_column value as the first column
#         temp_df[""] = [name]
#
#         for answer in counts.index:
#             temp_df[answer + ' count'] = [counts[answer]]
#             temp_df[answer + ' %'] = [percentages[answer]]
#
#         # Add the 'Total' columns for the group
#         temp_df['Total count'] = [total]
#         temp_df['Total %'] = [100]
#
#         # Set the index value to the string groupby_column
#         temp_df.index = [groupby_column]
#
#         # Append the temporary DataFrame to the final output
#         output = output.append(temp_df)
#
#     # Reorder the columns to move 'Total count' and 'Total %' to the end
#     cols = [col for col in output if col not in ['Total count', 'Total %']] + ['Total count', 'Total %']
#
#     output = output[cols]
#     output = output.fillna(0)
#
#     return output
#
# df_output = compute_count_percent_with_grouping(df, 'C1_main_water_source', 'A5_characteristic')
# df_output

In [9]:
def compute_count_percent_with_grouping(df: pd.DataFrame, column_name: str, groupby_columns: list):
    all_outputs = []

    # Get all unique answers in the entire dataset
    all_answers = df[column_name].dropna().unique()

    for groupby_column in groupby_columns:
        grouped = df.groupby(groupby_column)

        # Initialize an empty DataFrame for the final output
        output = pd.DataFrame()

        for name, group in grouped:
            # Create a temporary DataFrame for the group with predefined columns
            temp_df = pd.DataFrame(columns=[str(answer) + ' count' for answer in all_answers] +
                       [str(answer) + ' %' for answer in all_answers] +
                       ['Total count', 'Total %', ''])


            # Insert the groupby_column value as the first column
            temp_df[""] = [name]

            # Get the value counts for the group
            counts = group[column_name].value_counts()

            # Calculate the total number of responses for the group
            total = len(group[column_name])

            # Calculate the percentage for each unique value in the group
            percentages = (counts / total) * 100

            for answer in all_answers:
                # get answers from answers list
                temp_df[str(answer) + ' count'] = [counts.get(answer, 0)]
                temp_df[str(answer) + ' %'] = [percentages.get(answer, 0)]

            # Add the 'Total' columns for the group
            temp_df['Total count'] = [total]
            temp_df['Total %'] = [100]

            # Set the index value to the groupby_column
            temp_df.index = [groupby_column]

            # Append the temporary DataFrame to the final output
            output = output.append(temp_df)

        # Reorder the columns to move 'Total count' and 'Total %' to the end
        cols = [col for col in output if col not in ['Total count', 'Total %']] + ['Total count', 'Total %']

        output = output[cols]
        output = output.fillna(0)

        all_outputs.append(output)

    # Concatenate all outputs into a single DataFrame
    final_output = pd.concat(all_outputs, axis=0)
    return final_output

df_output = compute_count_percent_with_grouping(df, 'C1_main_water_source', ['A5_characteristic', 'A6_location'])

C:\Users\Reach\AppData\Local\Temp\ipykernel_12276\4170110788.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output = output.append(temp_df)
C:\Users\Reach\AppData\Local\Temp\ipykernel_12276\4170110788.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output = output.append(temp_df)
C:\Users\Reach\AppData\Local\Temp\ipykernel_12276\4170110788.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output = output.append(temp_df)
C:\Users\Reach\AppData\Local\Temp\ipykernel_12276\4170110788.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output = output.append(temp_df)
C:\Users\Reach\AppData\Local\Temp\ipykernel_12276\4170110788.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output = output.append(temp_df)
C:\Users\Reach\AppData\Local\Temp\ipykernel_12276\4170110788.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output = output.append(temp_df)
C:\Users\Reach\AppData\Local\Temp\ipykernel_12276\4170110788.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output = output.append(temp_df)
C:\Users\Reach\AppData\Local\Temp\ipykernel_12276\4170110788.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output = output.append(temp_df)
C:\Users\Reach\AppData\Local\Temp\ipykernel_12276\4170110788.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output = output.append(temp_df)
C:\Users\Reach\AppData\Local\Temp\ipykernel_12276\4170110788.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output = output.append(temp_df)
C:\Users\Reach\AppData\Local\Temp\ipykernel_12276\4170110788.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output = output.append(temp_df)
C:\Users\Reach\AppData\Local\Temp\ipykernel_12276\4170110788.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output = output.append(temp_df)
C:\Users\Reach\AppData\Local\Temp\ipykernel_12276\4170110788.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output = output.append(temp_df)
C:\Users\Reach\AppData\Local\Temp\ipykernel_12276\4170110788.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output = output.append(temp_df)
C:\Users\Reach\AppData\Local\Temp\ipykernel_12276\4170110788.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output = output.append(temp_df)
C:\Users\Reach\AppData\Local\Temp\ipykernel_12276\4170110788.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output = output.append(temp_df)
C:\Users\Reach\AppData\Local\Temp\ipykernel_12276\4170110788.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output = output.append(temp_df)
C:\Users\Reach\AppData\Local\Temp\ipykernel_12276\4170110788.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output = output.append(temp_df)
C:\Users\Reach\AppData\Local\Temp\ipykernel_12276\4170110788.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output = output.append(temp_df)

In [11]:
total = compute_count_percent(df, "C1_main_water_source")
df_output = compute_count_percent_with_grouping(df, 'C1_main_water_source', ['A5_characteristic', 'A6_location'])

# Concatenate the outputs
final_output = pd.concat([total, df_output])

final_output

C:\Users\Reach\AppData\Local\Temp\ipykernel_12276\4170110788.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output = output.append(temp_df)
C:\Users\Reach\AppData\Local\Temp\ipykernel_12276\4170110788.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output = output.append(temp_df)
C:\Users\Reach\AppData\Local\Temp\ipykernel_12276\4170110788.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output = output.append(temp_df)
C:\Users\Reach\AppData\Local\Temp\ipykernel_12276\4170110788.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output = output.append(temp_df)
C:\Users\Reach\AppData\Local\Temp\ipykernel_12276\4170110788.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output = output.append(temp_df)
C:\Users\Reach\AppData\Local\Temp\ipykernel_12276\4170110788.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output = output.append(temp_df)
C:\Users\Reach\AppData\Local\Temp\ipykernel_12276\4170110788.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output = output.append(temp_df)
C:\Users\Reach\AppData\Local\Temp\ipykernel_12276\4170110788.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output = output.append(temp_df)
C:\Users\Reach\AppData\Local\Temp\ipykernel_12276\4170110788.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output = output.append(temp_df)
C:\Users\Reach\AppData\Local\Temp\ipykernel_12276\4170110788.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output = output.append(temp_df)
C:\Users\Reach\AppData\Local\Temp\ipykernel_12276\4170110788.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output = output.append(temp_df)
C:\Users\Reach\AppData\Local\Temp\ipykernel_12276\4170110788.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output = output.append(temp_df)
C:\Users\Reach\AppData\Local\Temp\ipykernel_12276\4170110788.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output = output.append(temp_df)
C:\Users\Reach\AppData\Local\Temp\ipykernel_12276\4170110788.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output = output.append(temp_df)
C:\Users\Reach\AppData\Local\Temp\ipykernel_12276\4170110788.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output = output.append(temp_df)
C:\Users\Reach\AppData\Local\Temp\ipykernel_12276\4170110788.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output = output.append(temp_df)
C:\Users\Reach\AppData\Local\Temp\ipykernel_12276\4170110788.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output = output.append(temp_df)
C:\Users\Reach\AppData\Local\Temp\ipykernel_12276\4170110788.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output = output.append(temp_df)
C:\Users\Reach\AppData\Local\Temp\ipykernel_12276\4170110788.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output = output.append(temp_df)

,,Water_trucking count,Water_trucking %,Rainwater_collection count,Rainwater_collection %,Tanker_truck count,Tanker_truck %,Piped_into_dwelling count,Piped_into_dwelling %,Protected_well_ count,...,Surface_water_river_dam_lake_pond_stream_canal_irrigation_channel count,Surface_water_river_dam_lake_pond_stream_canal_irrigation_channel %,Cart_with_small_tank_drum count,Cart_with_small_tank_drum %,Water_kiosk count,Water_kiosk %,Protected_spring count,Protected_spring %,Total count,Total %
Total,,154,42.076503,141,38.524590,22,6.010929,16,4.371585,12,...,11,3.005464,4,1.092896,4,1.092896,1,0.273224,366,100
A5_characteristic,Rural_Al_Jiblah,3,1.829268,140,85.365854,0,0.000000,0,0.000000,12,...,9,5.487805,0,0.000000,0,0.000000,0,0.000000,164,100
A5_characteristic,Urban_Al_Habelien,151,74.752475,1,0.495050,22,10.891089,16,7.920792,0,...,2,0.990099,4,1.980198,4,1.980198,1,0.495050,202,100
A6_location,Al_Al_Dheeb,0,0.000000,2,66.666667,0,0.000000,0,0.000000,0,...,1,33.333333,0,0.000000,0,0.000000,0,0.000000,3,100
A6_location,Al_Alio,0,0.000000,4,100.000000,0,0.000000,0,0.000000,0,...,0,0.000000,0,0.000000,0,0.000000,0,0.000000,4,100
A6_location,Al_Greshfah,0,0.000000,9,100.000000,0,0.000000,0,0.000000,0,...,0,0.000000,0,0.000000,0,0.000000,0,0.000000,9,100
A6_location,Al_Hajeb,0,0.000000,18,100.000000,0,0.000000,0,0.000000,0,...,0,0.000000,0,0.000000,0,0.000000,0,0.000000,18,100
A6_location,Al_Jabelah,0,0.000000,25,100.000000,0,0.000000,0,0.000000,0,...,0,0.000000,0,0.000000,0,0.000000,0,0.000000,25,100
A6_location,Al_Jaeazah,0,0.000000,6,100.000000,0,0.000000,0,0.000000,0,...,0,0.000000,0,0.000000,0,0.000000,0,0.000000,6,100
A6_location,Al_Masql,0,0.000000,5,100.000000,0,0.000000,0,0.000000,0,...,0,0.000000,0,0.000000,0,0.000000,0,0.000000,5,100
A6_location,Al_Mosa,1,20.000000,2,40.000000,0,0.000000,0,0.000000,0,...,2,40.000000,0,0.000000,0,0.000000,0,0.000000,5,100
A6_location,Al_Qarah_Al_Jabelah_Al_Dharfi,0,0.000000,5,100.000000,0,0.000000,0,0.000000,0,...,0,0.000000,0,0.000000,0,0.000000,0,0.000000,5,100
A6_location,Al_Sheri,0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,...,5,100.000000,0,0.000000,0,0.000000,0,0.000000,5,100
A6_location,Al_Thelah,0,0.000000,9,100.000000,0,0.000000,0,0.000000,0,...,0,0.000000,0,0.000000,0,0.000000,0,0.000000,9,100
A6_location,Haid_Lathom,2,15.384615,11,84.615385,0,0.000000,0,0.000000,0,...,0,0.000000,0,0.000000,0,0.000000,0,0.000000,13,100
A6_location,Homr,0,0.000000,7,87.500000,0,0.000000,0,0.000000,0,...,1,12.500000,0,0.000000,0,0.000000,0,0.000000,8,100
A6_location,Jahor_Lali,0,0.000000,10,100.000000,0,0.000000,0,0.000000,0,...,0,0.000000,0,0.000000,0,0.000000,0,0.000000,10,100
A6_location,Khla_Lali,0,0.000000,15,100.000000,0,0.000000,0,0.000000,0,...,0,0.000000,0,0.000000,0,0.000000,0,0.000000,15,100
A6_location,Kinad,0,0.000000,12,100.000000,0,0.000000,0,0.000000,0,...,0,0.000000,0,0.000000,0,0.000000,0,0.000000,12,100
A6_location,Saman_,0,0.000000,0,0.000000,0,0.000000,0,0.000000,12,...,0,0.000000,0,0.000000,0,0.000000,0,0.000000,12,100

In [9]:
df.groupby('A6_location')['C1_main_water_source'].value_counts()

A6_location                    C1_main_water_source
Al_Al_Dheeb                    Rainwater_collection                                                  2
                               Surface_water_river_dam_lake_pond_stream_canal_irrigation_channel     1
Al_Alio                        Rainwater_collection                                                  4
Al_Greshfah                    Rainwater_collection                                                  9
Al_Hajeb                       Rainwater_collection                                                 18
Al_Jabelah                     Rainwater_collection                                                 25
Al_Jaeazah                     Rainwater_collection                                                  6
Al_Masql                       Rainwater_collection                                                  5
Al_Mosa                        Rainwater_collection                                                  2
                               Surface_water_river_dam_lake_pond_stream_canal_irrigation_channel     2
                               Water_trucking                                                        1
Al_Qarah_Al_Jabelah_Al_Dharfi  Rainwater_collection                                                  5
Al_Sheri                       Surface_water_river_dam_lake_pond_stream_canal_irrigation_channel     5
Al_Thelah                      Rainwater_collection                                                  9
Haid_Lathom                    Rainwater_collection                                                 11
                               Water_trucking                                                        2
Homr                           Rainwater_collection                                                  7
                               Surface_water_river_dam_lake_pond_stream_canal_irrigation_channel     1
Jahor_Lali                     Rainwater_collection                                                 10
Khla_Lali                      Rainwater_collection                                                 15
Kinad                          Rainwater_collection                                                 12
Saman_                         Protected_well_                                                      12
Name: C1_main_water_source, dtype: int64

In [ ]:
sum(final_output['Total count'].iloc[3:])